<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Salesforce DMP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Salesforce DMP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="initialize()">Initialize</button>
  <ion-button (click)="sendRequests()">Send requests</button>
  <ion-button (click)="trackPage()">Track page</button>
  <ion-button (click)="fireEvent()">Fire event</button>

</ion-content>
